body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
  }

.document {
    margin-left: 260px; 
    
}


.menu{
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid;
    height: 100%;
    width: 260px;
    
}
.menu h3{
    text-align: center;
    /* border: 1px solid; */
}
.menu li{
    padding: 20px;
    border: 1px solid;
    list-style-type: none;
    
    /* text-align: center; */
    
}

.menu li:hover{
    background-color: whitesmoke;
    /* text-align: center; */
    
}
.menu a{
    text-decoration: none;
    /* padding: 20px; */
    color: black;
    display: block
    padding: 10px 30px;;
    
}
.menu ul{
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

.document h1{
    text-align: center;
    margin: 50px;
}
.document h3{
    
    margin: 20px 0;
}


@media screen and (max-width: 700px) {
    .menu {
      width: 100%;
      height: 300px;
      position: relative;
      border: none;
    }
    div.document {
        margin-left: 0;
    }
}