<!-- <div class="container">
    <app-advertisement-form (greetEvent)="addAdvertisement($event)"></app-advertisement-form>
</div>

<div class="container">
    <app-advertisement-table (deleteEvent)="deleteAdvertisement($event)" [advertisementList]="advertisementList"></app-advertisement-table>
</div>

<div class="container">
    <router-outlet ></router-outlet>

</div> -->

<div class="container">
    <app-advertisement-form ></app-advertisement-form>
</div>


<div class="container">
    <router-outlet ></router-outlet>
</div>


